body {
    padding: 0px;
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
}


/*app main container*/
.app-container {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FBFEFD;
}


/*header container*/
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FBFEFD;
}

@media screen and (min-width:768px) {
    .header-container {
        padding: 10px 20px 10px 20px;
    }
}

/*nav container*/
.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 70px;
    z-index: 100;
}

@media screen and (min-width:768px) {
    .nav-container {
        padding: 20px 40px 20px 40px;
    }
}

/*logo-container*/
.logo-container {
    padding: 10px;
}

.nav_logo {
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.nav_logo:hover {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
}

/*nav items*/
.nav-items {
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px) {
    .nav-items {
        position: fixed;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        top: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        transition: .4s;
        background-color: #FBFEFD;
    }
}

/*unordered list container */
.nav-items-container {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}

@media screen and (max-width:768px) {
    .nav-items-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}

@media screen and (min-width:768px) {
    .nav-items-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/*nav_item*/
@media screen and (max-width:768px) {
    .nav_item {
        margin-bottom: 13px;
    }
}

@media screen and (min-width:768px) {
    .nav_item {
        margin-right: 18px;
    }
}

.nav_item:hover {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
}

/*nav_link*/
.nav_link {
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    font-family: "sans-serif";
}

.nav_link:hover {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
}

/*Hamburger menu adn close menu*/
.nav_toggle {
    padding: 10px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .nav_toggle {
        display: flex;
        font-size: 30px;
    }

    .close-menu {
        display: flex;
        font-size: 30px;
    }
}

.show_menu {
    top: 60px;
}

/*active link color*/
.active-link {
    color: #069C54;
}

/*to give box style to nav bar when web page is scrolled*/
@media screen and (max-width:768px) {
    .header-box {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
}


/*main container*/
.main-container {
    margin-top: 80px;
    width: 100%
}


/*  Home page Container */
.home-page-container{
    width:100%;
    min-height:100vh;
    display:flex;
    padding:20px;
    background-image: url("https://www.mythriconsulting.com/images/company-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

@media screen and (min-width:768px){
    .home-page-container{
        background-image: url("https://www.mythriconsulting.com/images/company.jpg");
    }
}
.home-page-content-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

@media screen and (min-width:768px){
    .home-page-content-container{
        flex-direction: column;
    }
}
    /* home page heading container*/ 
.home-heading-container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:40px;
}

.home-heading{
    font-size:35px;
    font-weight:700;
    text-align:center;
}

/* Home page Content Container*/
.home-content-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
}
@media screen and (min-width:768px){
    .home-content-container{
        width:50%;
    }
    .home-content-container{
        align-self:flex-start;
    }
}

@media screen and (min-width:768px){
    .content-para{
        text-align:center;
    }
}

                                            /* who are we container*/
.who-page-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    min-height:100vh;
    background-image: url("https://www.mythriconsulting.com/images/client-bg.jpg");
}

.whoAreWe-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}
@media screen and (min-width:768px){
    .whoAreWe-container{
    flex-direction: row;
    }
}

.whoAreWe-image-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-bottom: 20px;
}

@media screen and (min-width:768px){
    .whoAreWe-image-container{
        width:30%;
    }
}   

.whoarewe-image{
    text-align:center;
    height:200px;
    width:200px;
}
@media screen and (min-width:768px){
    .whoarewe-image{
        text-align:center;
        width:70%;
        height:300px;
    }
}

.whoarewe-content-container{
    display: flex;
    flex-direction: column;
    width:100%;
}
@media screen and (min-width:768px){
    .whoarewe-content-container{
        width:60%;
    }
}
.whoarewe-content-container-heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.whoarewe-content-container-para{
    margin-top:30px;
}

/* Our mission and values container*/

.mission-values-container{
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image: url("https://www.mythriconsulting.com/images/client-bg.jpg");
    padding:40px;
}

@media screen and (min-width:768px){

    .mission-values-container{
        flex-direction: row;
    }
}
.mission-values-container{
    padding:20px;
    width:100%;
}

.mission-values-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 20px;
}

@media screen and (min-width:768px){
    .mission-values-content-container{
        width:60%;
    }
}
.mission-values-content-heading-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}


.mission-values-image-container{
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px){
    .mission-values-image-container{
        width:100%;
    }
}

.mission-value-image{
    width:50px;
    height:50px;
}
@media screen and (min-width:768px){
    .mission-value-image{
        width:250px;
        height:250px;
    }
}

    /*================================================================================================================*/


                    /* service section */
.service-heading-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: darkslategrey;
    color:#ffffff;
    padding:20px;
}

.service-heading{
    font-size:30px;
    font-weight:600;
}
            /* ---------- consulting page ----------*/
.consulting-service-section{
    height:100vh;
    width:100%;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    background-image: url("https://www.manifieldsolicitors.com/wp-content/uploads/2018/03/RBC-Slide-1-Business-consulting1.png");
}

@media screen and (min-width:768px){
    .consulting-service-section{
        background-image: url("https://www.manifieldsolicitors.com/wp-content/uploads/2018/03/RBC-Slide-1-Business-consulting1.png");
    }
}

.consultion-content-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:100%;
}
@media screen and (min-width:768px){
    .consultion-content-page{
        width:50%;
    }
}
.consulting-heading-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.consulting-heading{
    font-size:35px;
    text-align:center;
    font-weight:600;
}
.consulting-content{
    width:100%;
    padding:10px;
}
.consulting-para{
    font-size:18px;
    color:black;
    text-align: justify;
    font-weight: 500;
}

/*----------------- Staffing Section Of the web page ---------------*/
.staffing-section{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
    background-image: url("https://www.mythriconsulting.com/images/staffing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:20px;
}


.staffing-content-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    width:100%;
}
@media screen and (min-width:768px){
    .staffing-content-page{
        width:50%;
    }
}
.staffing-heading-container{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom:10px;
}
.staffing-heading{
    font-size:35px;
    font-weight:600;
    color:black;
    text-align: center;
}

.staffing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.staffing-para{
    color:black;
    font-size:18px;
    font-weight: 500;
    text-align: justify;
    text-justify:inter-word;
}
@media screen and (min-width:768px){
    .staffing-para{
        color:black;
    }
}

                    /*----------------- Training Section of the web page--------------------- */
.training-section{
    min-height:100vh;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    background-image: url("https://www.mythriconsulting.com/images/training.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:20px;
}
.traing-content-page{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:10px;
}
@media screen and (min-width:768px){
    .traing-content-page{
        width:50%;
    }
}

.training-heading-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom:20px;
}

.training-heading{
    font-size:35px;
    font-weight: 600;
    text-align:center; 
}
.training-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.training-para{
    color:black;
    font-size:18px;
    font-weight: 500;
    text-align: justify;
    text-justify:inter-word;

}
@media screen and (min-width:768px){
    .training-para{
        color:black;
    }
}


        /* ----------------- application development  section ------------------------*/
.application-section{
    min-height:100vh;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding:20px;
    background-image: url("https://www.mythriconsulting.com/images/app-dev-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
}

@media screen and (min-width:768px){
    .application-section{
        background-image: url("https://www.mythriconsulting.com/images/app-dev.jpg");
    }
}
.application-section-content-page{
    width:100%; /*  mobile view of application page content */
    padding:10px;
}

@media screen and (min-width:768px){
.application-section-content-page{
    width:50%;
    padding:10px;
}
}

.application-heading-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.application-heading{
    font-size:35px;
    font-weight:600;
    margin-bottom:20px;
    color:black;
}

@media screen and (max-width:767px){
    .application-heading{
        font-size:35px;
        color:#ffffff;
    } 
}

.application-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align:justify;
}

@media screen and (min-width:768px){
    .application-content{
        color:black;
    }
}
.application-para{
    font-size:18px;
    font-weight:400;
}

                /* ----------------------  clients section ------------------------------*/
.clients-section{
    min-height: 100vh;
    width:100%;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    background-image: url("https://www.mythriconsulting.com/images/whoweare.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:70px;
}
.clients-content-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}
@media screen and (min-width:768px){
    .clients-content-container{
        width:70%;
    }
}
.clients-content-heading-container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.clients-heading{
    font-size: 35px;
    font-weight:600;
    text-align:center;
}
.clients-content-para-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
}
.clients-content-para{
    font-size:18px;
}
@media screen and (min-width:768px){
    .clients-content-para{
        text-align: center;
    }
}

.clients-images-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
    padding:20px 30px 20px 30px;
}
.clients-image-container{
    padding:10px;
    margin:20px;
    border-radius:8px;
    border:1px solid;
    background-color: white;
    border-width:0px;
}

.company-image{
    height:100px;
    width:100px;
}




        /*--------------Careers Section----------------*/
.careers-section{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: linear-gradient(to right,#D8B5FF , #1EAE98);
    padding:20px;
    padding-bottom:40px;
}
.expand-container{
    width:100%;
}
.careers-heading{
    font-size: 35px;
    font-weight:600;
    text-align: center;
}

.careers-heading-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction:row;
    margin-bottom:50px;
    margin-top:50px;
}
.careers-heading{
    color:#ffffff;
    font-size:40px;
    font-weight:700;
}



.card{
    margin-bottom:8px;
}
.role-main-heading{
    font-size:20px;
    font-weight:600;
    font-style: normal;
    text-decoration: none;
}

.role-heading{
    font-size:18px;
    font-weight:600;
    color:#707070;
    font-weight:bold;
}

/* contact us section */
.contact-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height: 100vh;
    width:100%;
    padding:40px;
    background-color:azure;
}

.contact-container{
    width:100%;
}
.contact-heading-container{
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.contact-map-container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top:30px;

}
.map-image{
    width:70%;
}

.address-content-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
}

@media screen and (min-width:768px){
    .address-content-container{
        flex-direction:row;
    }
}

.address-container{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px){
    .address-container{
        width:50%;
    }
}
.address-heading{
    text-align:center;
}
.address-para{
    text-align: center;
}
.contact-us-subheading{
    color:darkslategrey;
    font-size:20px;
    font-weight: 500;

}




/* Footer Section*/
.footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap; */
    padding: 40px 10px 80px 10px;
    text-align: center;
}

@media screen and (min-width:768px){
    .footer-section {
        flex-direction: row;
        justify-content: space-around;
    }
}

.footer-section-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:767px){
    .footer-section-block {
        width:100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
}

@media screen and (max-width:768px) {
    .footer-section-block {
        margin-right: 20px;
    }
}

@media screen and (min-width:768px) {
    .footer-section-block {
        padding-left: 0px;
    }
}

.tasty-food-footer-heading {
    color: #069C54;
    text-decoration: none;
    text-align: center;
}

.tasty-food-footer-heading:hover {
    color: #069C54;
    text-decoration: none;
}

.tasty-food-sub-heading {
    color: #707070;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socila-icons {
    padding: 20px;
}

.icon {
    font-size: 25px;
    color: #069C54;
}

.footer-section-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.services-heading {
    color: #707070;
    font-size: 40px;
}

.footer-list-items {
    list-style: none;
    padding-left: 0px;
}

@media screen and (max-width:768px) {
    .footer-list-items {
        display: flex;
        flex-direction: column;
    }

    .footer-list-item {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .footer-list-item {
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
    }
}